table{
    margin-left: 23%;
    width: 20%;
    margin-top: 5rem;
}

#submit{
    margin-left: 32%;
    width: 30rem;
}

input{
    width: 35rem;
    height: 4rem;
    border: 3px solid purple;
    border-radius: 30px;
}

input::placeholder{
    margin-left: 3px;
}